/*    svg path {
      fill: none;
      stroke: #666;
      stroke-width: 2px;
      stroke-dasharray: 3588;
      stroke-dashoffset: 3588;
    }*/
    .map {
      fill: none;
      stroke: #666;
      stroke-width: 2px;
      stroke-dasharray: 3588;
      /*stroke-dashoffset: 3588;*/
    }
    .animate {
      -webkit-animation: dash 5s linear alternate;
        animation: dash 5s linear alternate;
      -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
    }